* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(185, 75%, 39%);
  color: hsl(229, 23%, 23%);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

main {
  flex: 1 0 auto;
}

.display--1 {
  font-weight: 700;
}

.display--2 {
  font-weight: 400;
}

.line__height {
  line-height: 25px;
}

.text__light {
  color: hsl(227, 10%, 46%);
}

.text__size--1 {
  font-size: 12px;
}

.text__center {
  text-align: center;
}

.py {
  padding: 5px 0;
}

.bg__black {
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(148, 147, 147);
}
