.container {
  background-image: url("../images/bg-pattern-top.svg");
  background-repeat: no-repeat;
  background-position: -250px -500px;
  height: 80vh;
}

.card__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  background-image: url("../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-position: 675px 350px;
}

.card {
  bottom: 50px;
  background-color: white;
  box-shadow: 0 0 3px 0px hsl(187deg 42% 31%);
  width: 22rem;
  height: 22rem;
  border-radius: 10px;
}

.card__header {
  background-image: url("../images/bg-pattern-card.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: inherit;
  height: 35%;
}

.card__image {
  position: relative;
  bottom: -50px;
  border-radius: 50%;
  border: 5px solid white;
}

.card__body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 40%;
}

.card__text {
  margin-top: 25px;
  text-align: center;
}

.card__footer {
  border-top: 1px solid rgb(150, 150, 150, 0.2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__container--statistics {
  display: flex;
  width: 100%;
}

.card__statistics {
  width: inherit;
  padding: 15px 0;
  text-align: center;
}

@media (max-width: 374.98px) {
  .card {
    width: 18rem;
    height: 18rem;
  }

  .container {
    background-position: -808px -498px;
  }

  .card__container {
    background-position: 78px 298px;
  }
}

@media (min-width: 375px) and (max-width: 424.98px) {
  .container {
    background-position: -808px -498px;
  }

  .card__container {
    background-position: 118px 318px;
  }
}

@media (min-width: 425px) and (max-width: 767.98px) {
  .container {
    background-position: -600px -600px;
  }

  .card__container {
    background-position: 250px 250px;
  }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .container {
    background-position: -550px -550px;
  }

  .card__container {
    background-position: 375px 375px;
  }
}

@media (min-width: 1024px) and (max-width: 1439.98px) {
  .container {
    background-position: -475px -500px;
  }

  .card__container {
    background-position: 400px 350px;
  }
}
